.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-top: 1rem;
}

.footer {
  text-align: center;
}

.title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bolder;
}

.button {
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 6px;
}
